
<footer class="footer">
    <div class="container">
        <div class="content">
                <div class="footer_row">
                        <p>All Rights Reserved to Mosa Hasn &copy; 2020</p>
                    </div>
            <div class="footer_row">
                <div class="social d-flex">
                    <a href="https://wa.me/+0201150338846">
                        <div class="icon">
                            <i class="fab fa-whatsapp"></i>
                        </div>
                    </a>
                    <a href="mailto:mosa.hasn.mosa@gmail.com">
                        <div class="icon">

                            <i class="fas fa-envelope"></i>

                        </div>
                    </a>
                    <a href="https://github.com/mosageneral">
                        <div class="icon">

                            <i class="fab fa-github-square"></i>

                        </div>
                    </a>
                    <a href="https://www.linkedin.com/in/mosa-h-ahmed-89859013a/">
                        <div class="icon">

                            <i class="fab fa-linkedin"></i>

                        </div>
                    </a>
                    <a href="https://www.facebook.com/mosa.hasn.5">
                        <div class="icon">

                            <i class="fab fa-facebook"></i>

                        </div>
                    </a>
                </div>
            </div>
          
        </div>
    </div>
</footer>