
<section class="intro">
    <div class="bg">

    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="brif">
                    <div class="profile-pic">
                        <img src="../../../assets/imgs/Mosa.jpg" alt="Mosa Photo" title="Mosa Hasn">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <h1 class="title">Mosa Hasn</h1>
                    <div class="job_title_container">
                        <div class="job_title_front">
                            <h1 class="job_title">FullStack Developer</h1>
                            <h2 class="type_icon">|</h2>
                        </div>
                        <div class="job_title_ui_ux">
                            <h1 class="job_title">Software Engineer</h1>
                            <h2 class="type_icon">|</h2>
                        </div>
                    </div>
                    <div class="at">
                        <p>at <a target="_blank" href="http://onetelecom.sa/">OneTelecom</a></p>
                    </div>
                    <div class="social d-flex">
                        <a target="_blank" href="https://wa.me/+0201150338846">
                            <div class="icon">
                                <i class="fab fa-whatsapp"></i>
                            </div>
                        </a>
                        <a target="_blank" href="mailto:mosa.hasn.mosa@gmail.com">
                            <div class="icon">

                                <i class="fas fa-envelope"></i>

                            </div>
                        </a>
                        <a target="_blank" href="https://github.com/mosageneral">
                            <div class="icon">

                                <i class="fab fa-github-square"></i>

                            </div>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/in/mosa-h-ahmed-89859013a/">
                            <div class="icon">

                                <i class="fab fa-linkedin"></i>

                            </div>
                        </a>
                        <a target="_blank" href="https://www.facebook.com/mosa.hasn.5">
                            <div class="icon">

                                <i class="fab fa-facebook"></i>

                            </div>
                        </a>
                    </div>
                    <div class="main_btns">
                        
                 <a target="_blank" href="../../../assets/my_cv/Mosa-Mosa.pdf" class="portfolio_btn">Download CV</a>
                 <a target="_blank" href="mailto:mosa.hasn.mosa@gmail.com" class="portfolio_btn">Hire Me</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 m-hide">
                <img src="../../../assets/imgs/img.svg" alt="programmer-img" width="80%">

            </div>
        </div>
    </div>
</section>
<section class="about_me">
<div class="container">
<div class="row">
        <div class="col-md-4">
            <div class="global_card">
                    <div class="general_info">
                            <h4><i class="fas fa-info-circle pr-2"></i>General Information</h4>
                          <hr>
                            <div class="info">
                                    <p><i class="fas fa-map-marker-alt"></i>Cairo, Egypt</p>
                                </div>
                                <div class="info">
                                        <p><i class="far fa-envelope"></i>mosa.hasn.mosa@gmail.com</p>
                                    </div>
                                    <div class="info">
                                            <p><i class="fas fa-phone"></i>+20 1150338846</p>
                                        </div>
                                        <div class="info">
                                                <p><i class="fas fa-user-graduate"></i>Bachelor's Degree</p>
                                            </div>
                                         
                                                <div class="info">
                                                        <p><i class="fas fa-hard-hat"></i>Military service Completed</p>
                                                    </div>
                       
                        </div>
            </div>
        </div>
        <div class="col-md-8">
                <div class="global_card">
                        <h4><i class="fas fa-address-card pr-2"></i>Summary</h4>
                        <hr>
                     
                    <P>
                            I'm FullStack Developer.<br>
                            I'm developing websites And WebApps Based On Web Standard Technologies Like HTML5, CSS, JavaScript.<br>
                            I'm Also Have Experience Developeing Hyperd Mobile Apps With ionic Framework
                 <br>
                 You can preview my projects on the <a  routerLink="/Portfolio">Projects page</a>.
                        </P>
                    </div>
        </div>
       
</div>
   
  
</div>
</section>

