<section class="experience_timeline_card container">
      
   <div class="row">
       <div class="col-md-4">
            <div class="global_card">
                    <h4 class="main_title"><i class="fas fa-briefcase pr-2"></i>Experience</h4>
                    <hr>
                <!-- <p></p> -->
               </div>
       </div>
       <div class="col-md-8">
           
       </div>
   </div>
    <div class="timeline">
        
        <div class="timeline_card">
            <div class="content">
                <h5 class="company">OneTelecom (Saudi) </h5>
                <h6 class="job_title">Senior Fullstack Developer
                    <span>Full Time</span></h6>
                <div class="date_contaner">
                    <div class="row">
                        <div class="col-md-6">
                            <p><span>From :</span>December
                                2020
                                </p>
                        </div>
                        <div class="col-md-6">
                            <p><span>To :</span>Present</p>
                        </div>
                    </div>
                </div>
                <ul>
                    <li>
                        <p>Developing Company's Main Product
                            (WarshahTech)
                            Supporting Juniors
                            Developing Mobile App For WarshahTech Client
                            (Ionic)
                            Transforming Legacy Code To A professional Code
                            Design. </p>
                    </li>
                 
                    <li>
                        <p>Test front end code in multiple browsers to ensure crossbrowser
                            compatability. </p>
                    </li>
                    <li>
                        <p>Develop code for Validation. </p>
                    </li>
                    <li>
                        <p>Web page development from design to test and up to
                            production deployment.</p>
                    </li>
                    
                    <li>
                        <p>Optimize Pages Performance.</p>
                    </li>
                    <li>
                        <p>Follow users feedback  and customers.</p>
                    </li>
                    <li>
                        <p>Make suggestions for better solutions to problems.</p>
                    </li>
                   
                </ul>
              </div>
        </div>
        <div class="timeline_card">
          <div class="content">
            <h5 class="company">Right Hand Solutions (Kuwait) </h5>
            <h6 class="job_title">Full Stack .Net Developer
                <span>Full Time</span></h6>
            <div class="date_contaner">
                <div class="row">
                    <div class="col-md-6">
                        <p><span>From :</span>June 2019</p>
                    </div>
                    <div class="col-md-6">
                        <p><span>To :</span>December
                            2020</p>
                    </div>
                </div>
            </div>
            <ul>
                <li>
                    <p>
                        Responsible For Developing The Web Api For Arkan
                        App (Otlob And Souq Alike )
                        Developing Smart Phone App With Ionic Platform
                        Supporting Old WebForms App
                        Supporting Old Desktop Apps </p>
                </li>
            </ul>
        
          </div>
        </div>
        <div class="timeline_card">
            <div class="content">
              <h5 class="company">Hard Task (Kuwait)</h5>
              <h6 class="job_title">Full Stack .Net Developer<span>Full Time</span></h6>
              <div class="date_contaner">
                  <div class="row">
                      <div class="col-md-6">
                          <p><span>From :</span>January
                            2018</p>
                      </div>
                      <div class="col-md-6">
                          <p><span>To :</span>June
                            2019</p>
                      </div>
                  </div>
              </div>
              <ul>
                  <li>
                      <p>Worked As A Team Member Developing A lot Of Web
                        Apps Like
                        Majales ( Webapp For Majles Al Oma )
                        Esa'al (Social Network For Education And Smart
                        Learning Solution )
                        Bab Elkhair (Online Ecommerce Store )
                        Keplar (Medical Equipment Store)</p>
                  </li>
              </ul>
          
            </div>
          </div>
          <div class="timeline_card">
            <div class="content">
              <h5 class="company">MTS Inc.</h5>
              <h6 class="job_title">.Net Developer
                <span>Full Time</span></h6>
              <div class="date_contaner">
                  <div class="row">
                      <div class="col-md-6">
                          <p><span>From :</span> February
                            2017</p>
                      </div>
                      <div class="col-md-6">
                          <p><span>To :</span>January
                            2018</p>
                      </div>
                  </div>
              </div>
              <ul>
                  <li>
                      <p>Took The Responsibility Of Developing Web App And
                        Web Api For
                        "Smart Doctor" A ERP For Hospitals
                         </p>
                  </li>
              </ul>
          
            </div>
          </div>
          <div class="timeline_card">
            <div class="content">
              <h5 class="company">Cube Sys.</h5>
              <h6 class="job_title">Net Developer (Trainee)
                <span>Full Time</span></h6>
              <div class="date_contaner">
                  <div class="row">
                      <div class="col-md-6">
                          <p><span>From :</span> December
                            2015</p>
                      </div>
                      <div class="col-md-6">
                          <p><span>To :</span> January
                            2017</p>
                      </div>
                  </div>
              </div>
              <ul>
                  <li>
                      <p>Trained As .Net Developer Using Asp Forms And
                        Desktop Development </p>
                  </li>
              </ul>
          
            </div>
          </div>

        
      </div>
</section>